header section{
    
    
    justify-content: space-between;
    align-items: center;

}

header section ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header section ul li {
    margin: 0 15px;
}

header section ul li a {
    text-decoration: none;
    color: #3399CC;
    transition: 0.5s;
}


header section ul li a:hover {
    text-decoration: none;
    color: #80bedd;
    text-decoration: underline;
    
}
