.sobre-web-design {
    justify-content:space-between ;
    align-items: center;
}


.sobre-web-design article h1 {
    font-size: 60px;
    line-height: 90%;
    margin-bottom: 30px;
    color: #333366;
    font-weight: bold;
}

.sobre-web-design article h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #3399cc;
    
}


.sobre-web-design article p {
    color: #3399cc;
    margin-top: 10px 0 30px 0;
    margin-bottom: 50px;
    font-size: 20px;

}





